<div class="jumbotron">
  <h1>Nut 'n' Ex!</h1>
  <p class="lead">
    Hello, welcome to nut 'n' ex, your nutrition and exercise adviser.
  </p>
  <p>Please enter your basic info</p>
  <label for="gender_female">Female</label>
  <input type="radio" name="gender" value="male" id="gender_female" />
  <label for="gender_male">Male</label>
  <input type="radio" name="gender" value="male" id="gender_male" />
  <br />
  age: <input type="text" /><br />
  height: <input type="text" /><br />
  weight: <input type="text" /><br />

  <button>Calculate!</button>
</div>

<div>
  body fat %: <input type="text" /><br />
  <input type="checkbox" checked="checked" id="cardio_training" /><label for="cardio_training">Cardio training included</label><br />
  <input type="checkbox" checked="checked" id="weight_training" /><label for="weight_training">Weight training included</label><br />
  average daily time for exercise:
  <select>
    <option>
      1h / week
    </option>
    <option>
      3h / week
    </option>
    <option selected="selected">
      5h / week (Recommended)
    </option>
    <option>
      5h+ / week
    </option>
  </select>
</div>
<br />
<slider
    ng-model="chartObject.data.rows[1].c[1].v"
    floor="0"
    ceiling="50"
    step="0.5"
    precision="1">
</slider>

<div google-chart chart="chartObject" style="{{cssStyle}}"></div>

<div class="row marketing">
  <h4>Nutrition</h4>
  <p>
    ...
  </p>

  <h4>Exercising</h4>
  <p>
    ...
  </p>
</div>
